# EDA 및 baseline 코드 확인

In [1]:
import pandas as pd
import os
import torch
import easydict
import numpy as np
from sklearn.preprocessing import LabelEncoder
import time
import datetime
from datetime import datetime
import random
import wandb

In [2]:
df = pd.read_csv('/opt/ml/p4-dkt-freshtomato/input/data/train_dataset/train_data.csv')

In [3]:
df # assessmentItemID, testId, KnowledgeTag를

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225
...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438
2266582,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836
2266583,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836
2266584,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836
2266585,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836

In [4]:
df = df.sort_values(by=['userID','Timestamp'], axis=0) # 차이가 없어보이는데 이거는 왜 하는거지?

In [5]:
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225
...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438
2266582,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836
2266583,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836
2266584,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836
2266585,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836

## USER의 TestID(시험지)별 정답률 추가

In [6]:
type(df['answerCode'][0])

numpy.int64

In [7]:
total_count, answer_count = 1, 0
pr_user_id, pr_test_id, pr_answer_code = 0, 'A060000001', 1
user_test_correct_ratio = []

for user_id, test_id, answer_code in zip(df['userID'], df['testId'], df['answerCode']):
    if (user_id != pr_user_id) or (test_id != pr_test_id): # 다른 user 시작 or 다른 시험지 시작
        total_count, answer_count = 1, 0
        pr_user_id = user_id
        pr_test_id = test_id
    if answer_code == 1:
        answer_count += 1
    user_test_correct_ratio.append(answer_count/total_count)
    total_count += 1

In [8]:
user_test_correct_ratio = pd.DataFrame(user_test_correct_ratio, columns=['correctRatio'])

In [9]:
user_test_correct_ratio

         correctRatio
0                 1.0
1                 1.0
2                 1.0
3                 1.0
4                 1.0
...               ...
2266581           0.2
2266582           1.0
2266583           1.0
2266584           1.0
2266585           1.0

[2266586 rows x 1 columns]

In [10]:
df = df.join(user_test_correct_ratio)

In [12]:
df[:15]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,correctRatio
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1.000000
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1.000000
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1.000000
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1.000000
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1.000000
5,0,A060001007,A060000001,1,2020-03-24 00:17:47,7225,1.000000
6,0,A060003001,A060000003,0,2020-03-26 05:52:03,7226,0.000000
7,0,A060003002,A060000003,1,2020-03-26 05:52:10,7226,0.500000
8,0,A060003003,A060000003,1,2020-03-26 05:53:14,7226,0.666667
9,0,A060003004,A060000003,1,2020-03-26 05:53:29,7226,0.750000
10,0,A060003005,A060000003,1,2020-03-26 05:53:48,7226,0.800000
11,0,A060003006,A060000003,1,2020-03-26 05:53:55,7226,0.833333
12,0,A060003007,A060000003,1,2020-03-26 05:54:11,7226,0.857143
13,0,A060005001,A060000005,1,2020-03-31 05:02:52,7227,1.000000
14,0,A060005002,A060000005,1,2020-03-31 05:03:04,7228,1.000000

In [17]:
cr = np.load("/opt/ml/p4-dkt-freshtomato/code/asset/correctRate_classes.npy")
print(cr)
print(len(cr))

['0.0' '0.05555555555555555' '0.058823529411764705' '0.0625'
 '0.07692307692307693' '0.08333333333333333' '0.09090909090909091' '0.1'
 '0.1111111111111111' '0.125' '0.13333333333333333' '0.14285714285714285'
 '0.15384615384615385' '0.16666666666666666' '0.17647058823529413'
 '0.18181818181818182' '0.1875' '0.2' '0.21428571428571427'
 '0.2222222222222222' '0.23076923076923078' '0.25' '0.26666666666666666'
 '0.2727272727272727' '0.2857142857142857' '0.29411764705882354' '0.3'
 '0.3076923076923077' '0.3125' '0.3333333333333333' '0.35294117647058826'
 '0.35714285714285715' '0.36363636363636365' '0.3684210526315789' '0.375'
 '0.38095238095238093' '0.38461538461538464' '0.4' '0.4090909090909091'
 '0.4117647058823529' '0.4166666666666667' '0.42105263157894735'
 '0.42857142857142855' '0.43478260869565216' '0.4375' '0.4444444444444444'
 '0.45454545454545453' '0.4583333333333333' '0.46153846153846156'
 '0.4666666666666667' '0.47058823529411764' '0.4782608695652174' '0.5'
 '0.5217391304347826' '0.5238095238095238' '0.5263157894736842'
 '0.5294117647058824' '0.5333333333333333' '0.5384615384615384'
 '0.5416666666666666' '0.5454545454545454' '0.55' '0.5555555555555556'
 '0.5625' '0.5714285714285714' '0.5833333333333334' '0.5882352941176471'
 '0.5909090909090909' '0.6' '0.6111111111111112' '0.6153846153846154'
 '0.625' '0.631578947368421' '0.6363636363636364' '0.6428571428571429'
 '0.65' '0.6666666666666666' '0.6875' '0.6923076923076923' '0.7'
 '0.7058823529411765' '0.7142857142857143' '0.7222222222222222'
 '0.7272727272727273' '0.7333333333333333' '0.7368421052631579' '0.75'
 '0.7647058823529411' '0.7692307692307693' '0.7777777777777778'
 '0.7857142857142857' '0.8' '0.8125' '0.8181818181818182'
 '0.8235294117647058' '0.8333333333333334' '0.8461538461538461'
 '0.8571428571428571' '0.8666666666666667' '0.875' '0.8888888888888888'
 '0.9' '0.9090909090909091' '0.9166666666666666' '0.9230769230769231'
 '0.9285714285714286' '0.9333333333333333' '0.9375' '1.0' 'unknown']
110

In [6]:
cate_cols = ['assessmentItemID', 'testId', 'KnowledgeTag']

for col in cate_cols:
    le = LabelEncoder() # LabelEncoder: 문자를 0부터 시작하는 정수형 숫자로 바꿔주는 기능을 제공
    #For UNKNOWN class
    a = df[col].unique().tolist() + ['unknown'] # unknown class를 추가하고, 정수형 숫자로 label을 변경
    le.fit(a) # 결과값을 asset 폴더 밑 ~.npy로 저장

    #모든 컬럼이 범주형이라고 가정
    df[col] = df[col].astype(str)
    test = le.transform(df[col])
    df[col] = test

def convert_time(s):
    timestamp = time.mktime(datetime.strptime(s, '%Y-%m-%d %H:%M:%S').timetuple()) # 날짜를 초 단위로 변경
    return int(timestamp)

df['Timestamp'] = df['Timestamp'].apply(convert_time) # -- 여기까지 결과가 get_train_data를 해서 가져오는 것!

In [7]:
columns = ['userID', 'assessmentItemID', 'testId', 'answerCode', 'KnowledgeTag']
group = df[columns].groupby('userID').apply(
        lambda r: (
            r['testId'].values, 
            r['assessmentItemID'].values,
            r['KnowledgeTag'].values,
            r['answerCode'].values
        )
    )
# userID 별로 다음의 value들을 묶어서 정보를 가지게 됨
'''
group -> len(group.values): 6,698 - train/test셋이 userID를 기준으로 90/10의 비율로 나누어져 있음 (총 7,442명)
    - user 0 -> len(group.values[0]): 4
        - testId
        - assessmentItemID
        - KnowledgeTag
        - answerCode
    - user 1
    ...
    - user 7441
'''

'\ngroup -> len(group.values): 6,698 - train/test셋이 userID를 기준으로 90/10의 비율로 나누어져 있음 (총 7,442명)\n    - user 0 -> len(group.values[0]): 4\n        - testId\n        - assessmentItemID\n        - KnowledgeTag\n        - answerCode\n    - user 1\n    ...\n    - user 7441\n'

In [13]:
data = group.values

In [14]:
random.seed(0) # fix to default seed 0
random.shuffle(data)

ratio = 0.1
size = int(len(data) * ratio)
data_1 = data[:size] # valid - 669
data_2 = data[size:] # train - 6029

In [19]:
from sklearn.model_selection import train_test_split
sk_data2, sk_data1 = train_test_split(data, test_size=0.1, random_state=0) # 6028, 670

### Lable에 사용되는 class 확인

In [20]:
itemID_class = np.load('asset/assessmentItemID_classes.npy')

In [23]:
print(itemID_class)
print(len(itemID_class))

['A010001001' 'A010001002' 'A010001003' ... 'A090074005' 'A090074006'
 'unknown']
9455

In [27]:
knowledgeTag_class = np.load('asset/KnowledgeTag_classes.npy')

In [28]:
print(knowledgeTag_class)
print(len(knowledgeTag_class))

['1000' '1002' '1009' '1010' '1011' '10168' '10169' '10174' '10180'
 '10181' '10182' '10190' '10196' '10313' '10328' '10329' '10330' '10332'
 '10333' '10335' '10395' '10396' '10397' '10398' '10399' '10400' '10402'
 '10403' '10404' '10405' '10421' '10450' '10568' '10569' '10572' '10573'
 '10590' '10603' '10604' '10605' '10606' '10607' '10608' '10610' '10615'
 '10618' '10624' '10625' '10741' '10747' '10749' '10759' '10760' '10764'
 '10766' '10778' '10784' '10795' '10819' '10834' '10837' '10838' '10841'
 '1107' '1108' '1110' '1117' '1120' '11214' '11235' '11236' '11241'
 '11246' '11253' '11265' '11269' '11270' '11271' '116' '117' '1180' '1181'
 '1182' '1183' '1184' '1185' '1200' '1201' '1202' '1203' '121' '1248'
 '1249' '1250' '1251' '1252' '1253' '1255' '1256' '1257' '1259' '1260'
 '1261' '1262' '1263' '1264' '1266' '1267' '1268' '1269' '1271' '1273'
 '1356' '1394' '1395' '1396' '1397' '1422' '1439' '1442' '1443' '1444'
 '1450' '1451' '1452' '1453' '1454' '1455' '1456' '1458' '1463' '1464'
 '1465' '1494' '1531' '1532' '1533' '1534' '1548' '1575' '1576' '1577'
 '1578' '1579' '1580' '1581' '1582' '1583' '162' '163' '164' '169' '1707'
 '1720' '1721' '1726' '1727' '1728' '1872' '1873' '1874' '1875' '1876'
 '1877' '1878' '1879' '1880' '192' '1931' '1934' '1935' '1962' '1963'
 '1964' '1982' '1984' '2010' '202' '2047' '2048' '2049' '2050' '2053'
 '2054' '2055' '2065' '2067' '2068' '2069' '2070' '2071' '2072' '2074'
 '2075' '2076' '2077' '2078' '2079' '2085' '2087' '2089' '2090' '2091'
 '2092' '2093' '2094' '2096' '2097' '2098' '2099' '2100' '2101' '2102'
 '2103' '2104' '2105' '2107' '2108' '2109' '2110' '2111' '2112' '2113'
 '2114' '2115' '2116' '2118' '2119' '2120' '2121' '2122' '2123' '2125'
 '2127' '2128' '2129' '2131' '2132' '2133' '23' '24' '25' '2598' '26'
 '2600' '2601' '2602' '2603' '2604' '2605' '2607' '2608' '2610' '2611'
 '2612' '2613' '2614' '2615' '2616' '2617' '2618' '2619' '2620' '2621'
 '2622' '2623' '2625' '2626' '2644' '2647' '2648' '2652' '2711' '2712'
 '2714' '2715' '2717' '2718' '2719' '2721' '2723' '2725' '2726' '2727'
 '2848' '2849' '2852' '2853' '2868' '2869' '2870' '2871' '2887' '30' '307'
 '308' '309' '3097' '31' '32' '3288' '331' '332' '334' '339' '342' '346'
 '351' '355' '360' '363' '365' '3681' '3682' '3691' '3693' '3703' '3704'
 '371' '3728' '3729' '373' '374' '3751' '3752' '3753' '3755' '3756' '3757'
 '3792' '3793' '3794' '3795' '3798' '3804' '3806' '3820' '3821' '3824'
 '3825' '3826' '3827' '3828' '392' '393' '394' '395' '396' '397' '398'
 '405' '407' '409' '411' '417' '419' '4209' '4210' '4211' '4232' '4234'
 '4236' '4242' '4243' '425' '426' '427' '428' '429' '431' '433' '434'
 '435' '436' '437' '438' '439' '440' '441' '443' '444' '445' '446' '447'
 '448' '449' '4498' '451' '452' '454' '455' '456' '457' '458' '459' '4604'
 '4605' '461' '464' '465' '4657' '4658' '4659' '4660' '4661' '4662' '4663'
 '4664' '4665' '4667' '4668' '4669' '4671' '4672' '4673' '4678' '4679'
 '4680' '4681' '4682' '4683' '4684' '4685' '4686' '4687' '4688' '4697'
 '4699' '4709' '471' '4723' '4724' '4725' '4746' '475' '4783' '4784'
 '4793' '4795' '4797' '4799' '4800' '4801' '4802' '4803' '4804' '4805'
 '481' '4957' '4959' '4961' '4962' '4963' '4964' '4965' '4967' '4969'
 '4970' '4971' '4972' '4974' '4975' '4976' '4978' '4979' '4980' '5141'
 '5142' '5258' '5259' '5260' '5261' '5267' '5268' '5269' '5270' '5271'
 '5283' '5284' '5285' '5286' '5288' '5289' '5290' '5297' '5298' '5300'
 '5308' '5311' '5317' '547' '5485' '551' '5532' '554' '5542' '5543' '5544'
 '559' '5595' '5596' '5619' '5620' '5653' '5654' '5655' '5656' '5705'
 '5707' '574' '5761' '5762' '5763' '5780' '5781' '5782' '5783' '5788'
 '5808' '5809' '5810' '5814' '5834' '5836' '5844' '5845' '5846' '586'
 '587' '588' '589' '590' '592' '593' '594' '595' '596' '598' '599' '600'
 '601' '602' '603' '605' '606' '607' '608' '609' '610' '611' '612' '614'
 '615' '616' '618' '623' '624' '625' '626' '627' '628' '6307' '6308'
 '6453' '6454' '6455' '6456' '6555' '6556' '6557' '6647' '6648' '6649'
 '6774' '6775' '6777' '6784' '6785' '6794' '6795' '6796' '6800' '6801'
 '6802' '6803' '6804' '6805' '6806' '6807' '6825' '6826' '6827' '6828'
 '7034' '705' '706' '707' '7070' '7072' '7073' '7075' '7076' '708' '709'
 '710' '711' '7118' '712' '7120' '7125' '7126' '7127' '713' '714' '7167'
 '7170' '7171' '7172' '7224' '7225' '7226' '7227' '7228' '7229' '7230'
 '7248' '7259' '7268' '7271' '7305' '7307' '7308' '7309' '7310' '7321'
 '7333' '7334' '7581' '7593' '7595' '7596' '7597' '7598' '7599' '7600'
 '7601' '7618' '7620' '7621' '7626' '7629' '7636' '7637' '7653' '7665'
 '7667' '7690' '7691' '7693' '7694' '7696' '770' '7747' '7751' '7781'
 '7782' '7788' '7789' '7797' '7798' '7799' '78' '7800' '7801' '7802'
 '7803' '7804' '7805' '7807' '7808' '7809' '7810' '7811' '7812' '7813'
 '7815' '7817' '7818' '7822' '7823' '7829' '7856' '7862' '7863' '7866'
 '7867' '7912' '7913' '7914' '7915' '7916' '7918' '7919' '7920' '7921'
 '7922' '7924' '7925' '7926' '7927' '7928' '7929' '7930' '7932' '7933'
 '7934' '7935' '7936' '7938' '7941' '7943' '7944' '8002' '8003' '8004'
 '8005' '8006' '8014' '8015' '8016' '8017' '8018' '8019' '8020' '8021'
 '8022' '8023' '8027' '8091' '8092' '8093' '8094' '8095' '8096' '8097'
 '8122' '8123' '8124' '8125' '8126' '8127' '8129' '8130' '8131' '8132'
 '8133' '8134' '8135' '8136' '8137' '8238' '8244' '8247' '8289' '8343'
 '8403' '8404' '8420' '8421' '8422' '8423' '8424' '8425' '8426' '8427'
 '8428' '8429' '8431' '8432' '8433' '8794' '8830' '8831' '8832' '8836'
 '8868' '8871' '8872' '8874' '8875' '8877' '8878' '8879' '8880' '8881'
 '8885' '8886' '8887' '8889' '8890' '8891' '8892' '8893' '8894' '8895'
 '8896' '8897' '8899' '8900' '8901' '8902' '8904' '8905' '8906' '8908'
 '8910' '8911' '8913' '8931' '9021' '9022' '9044' '9046' '9049' '9050'
 '9051' '9052' '9053' '9054' '9055' '9062' '9064' '9065' '9066' '9067'
 '9068' '9069' '9070' '9071' '9072' '9073' '9075' '9077' '9078' '9079'
 '9080' '9081' '9082' '9083' '9086' '9090' '9091' '9098' '9099' '9120'
 '9121' '9122' '9124' '9125' '9126' '9160' '9161' '9162' '9164' '9165'
 '9166' '9167' '9168' '9169' '9170' '9171' '9172' '9184' '9185' '9186'
 '9187' '9232' '9497' '9498' '9500' '9519' '9557' '9590' '9592' '9660'
 '9661' '971' '972' '9728' '974' '9743' '9744' '9745' '975' '9765' '9787'
 '9797' '9811' '9829' '9832' '9846' '9852' '9857' '9858' '9923' '9924'
 '9925' '9926' '9927' '9928' '9929' '9931' 'unknown']
913

In [30]:
testId_class = np.load('asset/testId_classes.npy')

In [31]:
print(testId_class)
print(len(testId_class))

['A010000001' 'A010000002' 'A010000003' ... 'A090000073' 'A090000074'
 'unknown']
1538

In [3]:
import os
from datetime import datetime
import time
import tqdm
import pandas as pd
import random
from sklearn.preprocessing import LabelEncoder
import numpy as np
import torch

class Preprocess:
    def __init__(self,args):
        self.args = args
        self.train_data = None
        self.test_data = None
        

    def get_train_data(self):
        return self.train_data

    def get_test_data(self):
        return self.test_data

    def split_data(self, data, ratio=0.7, shuffle=True, seed=0):
        """
        split data into two parts with a given ratio.
        """
        if shuffle:
            random.seed(seed) # fix to default seed 0
            random.shuffle(data)

        size = int(len(data) * ratio) # data가 userID별로 묶여 있으므로, 이를 기준으로 나눔
        data_1 = data[:size]
        data_2 = data[size:]

        return data_1, data_2

    def __save_labels(self, encoder, name):
        le_path = os.path.join(self.args.asset_dir, name + '_classes.npy')
        np.save(le_path, encoder.classes_)

    def __preprocessing(self, df, is_train = True):
        cate_cols = ['assessmentItemID', 'testId', 'KnowledgeTag']

        if not os.path.exists(self.args.asset_dir):
            os.makedirs(self.args.asset_dir)
            
        for col in cate_cols:
            
            
            le = LabelEncoder() # LabelEncoder: 문자를 0부터 시작하는 정수형 숫자로 바꿔주는 기능을 제공
            if is_train:
                #For UNKNOWN class
                a = df[col].unique().tolist() + ['unknown']
                le.fit(a)
                self.__save_labels(le, col)
            else:
                label_path = os.path.join(self.args.asset_dir,col+'_classes.npy')
                le.classes_ = np.load(label_path)
                
                df[col] = df[col].apply(lambda x: x if x in le.classes_ else 'unknown')

            #모든 컬럼이 범주형이라고 가정
            df[col]= df[col].astype(str)
            test = le.transform(df[col])
            df[col] = test
            

        def convert_time(s):
            timestamp = time.mktime(datetime.strptime(s, '%Y-%m-%d %H:%M:%S').timetuple())
            return int(timestamp)

        df['Timestamp'] = df['Timestamp'].apply(convert_time)
        
        return df

    def __feature_engineering(self, df):
        #TODO
        return df

    def load_data_from_file(self, file_name, is_train=True):
        csv_file_path = os.path.join(self.args.data_dir, file_name)
        df = pd.read_csv(csv_file_path)#, nrows=100000)
        df = self.__feature_engineering(df)
        df = self.__preprocessing(df, is_train)

        # 추후 feature를 embedding할 시에 embedding_layer의 input 크기를 결정할때 사용

                
        self.args.n_questions = len(np.load(os.path.join(self.args.asset_dir,'assessmentItemID_classes.npy')))
        self.args.n_test = len(np.load(os.path.join(self.args.asset_dir,'testId_classes.npy')))
        self.args.n_tag = len(np.load(os.path.join(self.args.asset_dir,'KnowledgeTag_classes.npy')))
        

        df = df.sort_values(by=['userID','Timestamp'], axis=0)
        columns = ['userID', 'assessmentItemID', 'testId', 'answerCode', 'KnowledgeTag']
        group = df[columns].groupby('userID').apply(
                lambda r: (
                    r['testId'].values, 
                    r['assessmentItemID'].values,
                    r['KnowledgeTag'].values,
                    r['answerCode'].values
                )
            )

        return group.values

    def load_train_data(self, file_name):
        self.train_data = self.load_data_from_file(file_name)

    def load_test_data(self, file_name):
        self.test_data = self.load_data_from_file(file_name, is_train= False)

In [10]:
set_seed(args.seed)

preprocess = Preprocess(args)

In [11]:
preprocess.load_train_data(file_name)

train_data = preprocess.get_train_data()

In [12]:
type(train_data)

numpy.ndarray